@charset "utf-8";
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* -------- 1 태그 초기화 -------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video,input,select,button,textarea{margin:0;padding:0;border:0;font-family:'굴림',Gulim,'돋움',Dotum,Helvetica,sans-serif;font-size:12px}
body,html{height:100%;overflow-y:hidden}
body{min-width:1200px;background:url("../img/common/body_bg.jpg") repeat-x 0 0;-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow-x:hidden}
h1, h2, h3, h4, h5, h6{font-size:100%}
ol,ul{list-style:none}
img{border:0px;vertical-align:top}
caption{font-size:0px;line-height:0px;width:0px;height:0px;overflow:hidden}
input[type="button"]{padding-left:5px;border:0px;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
th,td{font-weight:normal}
button, a{outline:none}
em,address{font-style:normal}
a{text-decoration:none}
textarea{padding:5px;background:#fff;border:1px solid #bebebe;overflow:auto;resize:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
hr,legend,caption{display:none}
input,button,img{vertical-align:middle}
button[type="button"]{cursor:pointer}
input[type="text"], select{height:23px;line-height:23px;border:1px solid #bebebe}
input:read-only, input:disabled{background-color:#ebebeb}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

/* -------- 2 공통클래스 -------- */
.f_b{font-weight:bold}
.t_l{text-align:left}
.t_r{text-align:right}
.t_c{text-align:center}
.f_l{float:left}
.f_r{float:right}
.p_r{position:relative}
.p_a{position:absolute}
.p_f{position:fixed !important}
.clear:after{display:block;content:"";clear:both}

.col_red{color:#f00}
.col_blu{color:#00f}

.mar_T2{margin-top:2px}
.mar_T4{margin-top:4px}
.mar_R2{margin-right:2px}
.mar_R4{margin-right:4px}
.mar_R22{margin-right:22px}
#in_frame .mar_R0{margin-right:0}
#in_frame .mar_T0, .mar_T0{margin-top:0}
.mar_T10{margin-top:10px}
.mar_L2{margin-left:2px}
.mar_L4{margin-left:4px}
.mar_L8{margin-left:8px}
.mar_L10{margin-left:10px}
.mar_B2{margin-bottom:2px}

.pad_R4{padding-right:4px}
#in_frame .pad_R10,  .pad_R10{padding-right:10px}
#in_frame .pad_R11,  .pad_R11{padding-right:11px}
#in_frame .pad_R16,  .pad_R16{padding-right:16px}
#in_frame .pad_R24,  .pad_R24{padding-right:24px}
#in_frame .pad_R28,  .pad_R28{padding-right:28px}
#in_frame .pad_R29,  .pad_R29{padding-right:29px}
#in_frame .pad_R36,  .pad_R36{padding-right:36px}
#in_frame .pad_R37,  .pad_R37{padding-right:37px}
#in_frame .pad_R38,  .pad_R38{padding-right:38px}
#in_frame .pad_R52,  .pad_R52{padding-right:52px}
#in_frame .pad_R64,  .pad_R64{padding-right:64px}
.pad_L10{padding-left:10px}
.pad_L11{padding-left:11px}
.pad_L12{padding-left:12px}
.pad_L26{padding-left:26px}
.pad_L40{padding-left:40px}
.pad_L60{padding-left:60px}
.pad_L61{padding-left:61px}
.pad_L96{padding-left:96px}
.pad_L102{padding-left:102px}
.pad_L118{padding-left:118px}
.pad_L135{padding-left:135px}
.pad_T2{padding-top:2px}
.pad_T10{padding-top:10px}

.wid30{width:30%}

.readonly{background-color:#ebebeb}

/* -------- 3 레이아웃 -------- */
#wrap{min-width:1100px;min-height:500px;margin:9px 20px 20px 20px}
#header{position:relative;z-index:50;width:100%;min-width:1220px;height:37px}
#container{width:100%;min-width:1200px;margin-top:7px}
#snb{width:220px;background:#ebebeb} 
.frame_box{position:absolute;top:27px;left:0px;min-width:940px;overflow:hidden;background:#fff}

/* -------- 4 상단헤더 영역 -------- */
#header .logo{width:220px;height:37px}
#header .logo a img{vertical-align:top}

/* 4_1 대메뉴 */
#gnb{min-width:940px;height:37px;line-height:37px;background:#f58022}
#gnb ul{position:relative;z-index:0;background:url("../img/common/nav_bar.png") no-repeat 0 0}
#gnb li{float:left;width:14.28571428571429%;background:url("../img/common/nav_bar.png") no-repeat 100% 0}
#gnb li a{display:block;color:#fff;font-family:"Nanum Barun Gothic";font-size:16px;text-align:center}
#gnb li.on a{background-image:url(../img/common/nav_on.png);background-repeat:no-repeat;background-position:50% 0;background-size:cover;color:#000;font-weight:bold}
#gnb:after{content:'';clear:both;float:none;display:block;height:0;position:absolute}

/* -------- 5 콘텐츠 영역  -------- */
#content{width:100%;height:100%}
#content .main_img{height:100%;background:url("/resources/img/ruckus/main_img.jpg") no-repeat 50% 100%}
#content .login{left:50%;margin-left:-236.5px;width:473px;height:161px;margin-top:374px;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#content .login h3{padding-top:20px;text-align:center}
#content table{width:374px;margin:21px auto}
#content table label{padding-left:11px;font-size:14px;font-weight:bold}
#content table input[type="text"]{width:150px;height:33px;padding-left:6px;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset;-moz-box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset;box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset}
#content table input[type="password"]{width:150px;height:33px;padding-left:6px;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset;-moz-box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset;box-shadow:2px 2px 2px rgba(233, 233, 233, .8) inset}
#content table input[type="button"]{width:93px;height:76px;background:url("/resources/img/ruckus/login.gif") no-repeat}

/* 5_1 왼쪽 메뉴 여닫기 */
.btn_fold{position:absolute;top:267px;left:220px;width:9px;height:123px;background:url("../img/common/btn_fold.png") no-repeat 0% 50%;z-index:2;cursor:pointer}
.btn_fold.fold{left:0px;background:url("../img/common/btn_fold.png") no-repeat -9px 50%}

/* 5_2 소메뉴 */
#snb h2{height:27px;line-height:27px;background-color:#f8f8f8;font-family:"굴림";font-size:12px;border-bottom:1px solid #d3d3d3;color:#666;text-align:center}
#snb li{height:37px;line-height:37px}
#snb li.last{height:0;line-height:0}
#snb li > a{display:block;padding-left:38px;font-family:'굴림';color:#666;background:url("../img/common/menu_icon_folder.png") no-repeat 18px 50%}
#snb .left_menu > li.on > a{font-weight:bold;background:url("../img/common/menu_icon_folder_open.png") no-repeat 18px 50%}/* depth2 클릭시 */
#snb li > a span{padding-left:5px}
#snb ul li ul{background:#dee0e4 url("../img/common/depth3_bg.png") no-repeat 0 0;border-bottom:1px solid #c7c9cd}
#snb ul li ul.hover{position:absolute;top:9px;left:22px}
#snb ul li ul li{height:30px;line-height:30px}
#snb ul li ul li a{padding-left:42px;font-weight:normal;background:url("../img/common/menu_icon_document.png") no-repeat 26px 50%}
#snb ul li ul li:hover a{background-color:#fdf1e8}
#snb ul li ul li.on a{color:#fff;font-weight:normal;background-color:#f58022;background-image:url("../img/common/menu_icon_document.png");background-repeat:no-repeat;background-position:26px 50%}/* depth3 클릭시 */
#snb ul li ul li a i{margin-right:5px}

.snb_hover{position:absolute;top:-5px;left:40px;width:215px;border:1px solid #c6c6c6;border-top:0;z-index:100}
.snb_hover h3, .snb_hover li a{display:block;height:37px;line-height:37px}
.snb_hover h3{padding-left:20px;color:#fff;font-weight:bold;background:#515253}
.snb_hover li{background:#ebebeb}
#snb .snb_hover li > a{padding-left:20px;background:none}
#snb .snb_hover li a:hover, .snb_hover li.on{color:#fff;background:#4cb849}

.left_menu, .favorite{overflow-y:scroll;overflow-x:hidden}
#snb .favorite li{position:relative}
#snb .favorite li:hover{background-color:#fdf1e8}
#snb .favorite li > a{background-image:url("../img/common/menu_icon_document.png");background-repeat:no-repeat;background-position:21px 12px}
#snb .favorite li.on > a{font-weight:bold;background-color:#f58022;color:#fff}
#snb .favorite li .fav_ico{position:absolute;top:50%;margin-top:-8px;right:8px;width:15px;height:16px;background:url("../img/common/fav_ico.png") no-repeat 0 0}

/* 5_3 탭 */
.DivHide{display:none}
.DivShow{display:block}

.tab_st1{position:absolute;top:54px;left:240px;font-weight:bold;font-size:12px}
.tab_st1 ul{height:27px;margin-left:14px}
.tab_st1 li{float:left;margin-left:3px;overflow:hidden;line-height:1;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;
/* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#ededed+0,d3d3d3+100 */
background:#ededed;/* Old browsers */
background:-moz-linear-gradient(top,  #ededed 0%, #d3d3d3 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #ededed 0%,#d3d3d3 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d3d3d3',GradientType=0 );/* IE6-9 */}
.tab_st1 li a{display:block;padding:7.5px 15px 7.5px 20px;text-decoration:none;float:left;color:#787878}
.tab_st1 li.on, .tab_st1 li.on a, .tab_st1 li.on span{background-color:#fff;color:#424242}
.tab_st1 li span{float:right;display:block;cursor:pointer;padding-top:3px;padding-right:10px;background-image:url(../img/common/btn_tab_close.png);background-repeat:no-repeat;background-position:0 60%;width:9px;height:27px;line-height:27px;text-indent:-99999px}
.tab_st2 li{border-color:#aebfcb;background:#fff !important;font-weight:normal !important}
.tab_st2 li a{padding:8px 30px !important}
.tab_st2 .ui-state-active{border-color:#2d4f95 !important}
.tab_st2 .ui-state-active a{color:#2d4f95 !important;font-weight:bold !important}

.ui-tabs li{border-color:#aebfcb;background:#fff !important;font-weight:normal !important}
.ui-tabs li a{padding:8px 30px !important}
.ui-tabs .ui-state-active{border-color:#2d4f95 !important}
.ui-tabs .ui-state-active a{color:#2d4f95 !important;font-weight:bold !important}

/* 5_4 iframe */
iframe{width:100%;min-width:920px;height:100%;display:block;z-index:1}
#frame0{background:#fff  no-repeat 0 0;background-size:cover}/* 홈 화면 */
#in_frame{width:100%;min-width:920px;overflow-x:hidden;overflow-y:scroll;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#in_frame #tabs{border:none !important;font-size:12px}
#in_frame #tabs ul{border:none !important;border-bottom:1px solid #2d4f95 !important;padding:0 !important}
#iframeCnt{padding:6px 16px;background:#fff}

/* -------- 6 콘텐츠 내부  -------- */
/* table 2개 */
.tbl_st2{width:100%;margin:10px 0 0;border:1px solid #cfcfd1;border-top:2px solid #2c2c2c}
.tbl_st2 tr{height:27px;border-bottom:1px solid #cfcfd1}
.tbl_st2 th{width:100px;background-color:#f2f2f2;text-align:left;padding:0 10px 0 20px;font-weight:normal;border-right:1px solid #cfcfd1;border-left:1px solid #cfcfd1}
.tbl_st2 th em, .sub_cnt em{padding-left:4px;margin-left:-10px;background:url("../img/common/ico_require.png") no-repeat 0px 0px;width:6px;height:5px;display:inline-block;text-indent:100%;white-space:nowrap;overflow:hidden;vertical-align:middle}
.tbl_st2 td{padding:3px;background:#fff;border:1px solid #cfcfd1}
.tbl_st2 tr>td:last-child{width:auto}
.tbl_st2 td a{color:#0076cb}
.tbl_st2 .ui-datepicker-trigger{/* float:left;*/margin:1px 0 0 3px}
	
.th_wid th{width:initial}/*table th width 초기화*/

/* table 4개 */
.tbl_st3{margin:1px 0 0 0}
.tbl_st3 th{width:20%;height:27px}

.tbl_st2 input[type="text"], .tbl_st2 input[type="password"], .tbl_st2 textarea, .tbl_st2 select{width:100%;height:20px;padding-left:5px;border:1px solid #bebebe;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tbl_st2 textarea{height:80px;padding-top:5px}

.tbl_st2 input:read-only, .tbl_st2 input:disabled{background-color:#ededed}

.tbl_st2 input.search_txt, .tbl_st2 button[type="button"].search_btn, .tbl_st2 input.wid1, .tbl_st2 select.wid1, .tbl_st2 input.wid2, .tbl_st2 select.wid2, .tbl_st2 input.wid3, .tbl_st2 select.wid3, .tbl_st2 input.wid4, .tbl_st2 select.wid4, .tbl_st2 input.wid5, .tbl_st2 select.wid5, .tbl_st2 input.wid6, .tbl_st2 select.wid6, .tbl_st2 input.wid7, .tbl_st2 select.wid7{float:left}
.tbl_st2 button[type="button"].search_btn{width:20px;height:20px;margin-left:4px;margin-right:0;background-size:20px 20px}
.tbl_st2 input.t_c{padding-left:0}
.tbl_st2 input.t_r{padding-right:5px}

.tbl_st2 input.wid1, .tbl_st2 select.wid1, .tbl_st2 textarea.wid1, .search_area input.wid1, .pro_price input.wid1{width:200px}
.tbl_st2 input.search_txt, .tbl_st2 select.search_txt{width:174px}
.tbl_st2 input.hasDatepicker, .tbl_st2 input.datepicker{width:98px;padding-left:0;text-align:center}
.tbl_st2 input.wid2, .tbl_st2 select.wid2, .tbl_st2 textarea.wid2, .search_area input.wid2, .search_area select.wid2, .pro_price select.wid2{width:98px}
.tbl_st2 input.wid3, .tbl_st2 select.wid3, .tbl_st2 textarea.wid3, .search_area input.wid3, .tbl_st2 input.range1, .tbl_st2 input.range2, .search_area input.range1, .search_area input.range2{width:57px}
.tbl_st2 input.wid4, .tbl_st2 select.wid4, .tbl_st2 textarea.wid4, .search_area input.wid4, .pro_price input.wid4{width:328px}
.tbl_st2 input.wid5, .tbl_st2 select.wid5, .tbl_st2 textarea.wid5, .search_area input.wid5{width:46px}
.tbl_st2 input.wid6, .tbl_st2 select.wid6, .tbl_st2 textarea.wid6, .search_area input.wid6{width:118px}
.tbl_st2 input.wid7, .tbl_st2 select.wid7, .tbl_st2 textarea.wid7, .search_area input.wid7{width:128px}
.tbl_st2 input.wid100, .tbl_st2 select.wid100, .tbl_st2 textarea.wid100, .search_area .wid100, .wid100{width:100%}
.tbl_st2 input.wid_marL, .tbl_st2 select.wid_marL, .tbl_st2 .wid_marL{margin-left:4px}
.tbl_st2 input.range1, .search_area input.range1{margin-right:4px}
.tbl_st2 input.range2, .search_area input.range2{margin-left:4px}
.tbl_mid{height:21px;line-height:21px;padding-left:4px}/* 세로 가운데 */
.tbl_rdo{float:left;height:21px;line-height:21px;margin-right:5px}
.bul_arr + .tbl_rdo{height:21px;line-height:21px;padding-left:35px}
.bul_arr + .tbl_rdo input, .bul_arr + .tbl_rdo select{height:19px;line-height:19px}
.bul_arr + .tbl_rdo input, .bul_arr + .tbl_rdo select.wid1{width:50px}
.bul_arr + .tbl_rdo input, .bul_arr + .tbl_rdo select.wid2{width:100px}
.bul_arr + .tbl_rdo .search_btn{width:19px;height:20px;margin-right:10px;background-size:100% 100%}

/* sec_category */
.sec_category{overflow:hidden;position:relative;margin-top:10px}

.sec_menu_info{padding-left:290px}
.sec_menu_info h3{margin-top:0}
.sec_menu_info table input{max-width:330px}

.sec_category .tbl_st2{margin-top:0px}
#deleteRow{margin-top:10px;text-align:center}

/* popup */
#pop_pay_option, #pop_wrap, #pop_wrap1, #pop_wrap2, #pop_wrap3{padding:15px 15px 12px 15px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#pop_head{padding-bottom:3px}
#pop_head .bul_arr{height:17px;line-height:17px}

#pop_wrap .tbl_st2, #pop_cnt .tbl_st2{margin-top:0}
#pop_cnt .tbl_st2 textarea{min-height:50px}
#pop_cnt .tbl_st2 th em{padding-left:4px}

#pop_pay_option .tbl_st2 th{width:200px}

#pop_cnt .box_form{position:relative}
#pop_cnt .box_form label{margin-right:16px}
#pop_cnt .box_form label>span{min-width:inherit;padding-right:4px}
#pop_cnt .box_form .selectbox{width:88px}
#pop_cnt .box_form input[type=text]{width:114px}
#pop_cnt .box_form .btn_st1{position:absolute;top:10px;right:10px}

#pop_foot{overflow:hidden;margin-top:15px;text-align:center;position:relative}
#pop_foot .pal{bottom:0;left:0}
#pop_foot .par{bottom:0;right:0}

#pop_wrap.pop_main{padding:0}
#pop_wrap.pop_main #pop_head{background-color:#284961;color:#fff;padding:10px 15px}
#pop_wrap.pop_main #pop_head h1.bul_arr{margin-bottom:0}
#pop_wrap.pop_main #pop_foot{background-color:#dee6ec;padding:5px}

#pop_wrap.pop_main #pop_cnt{margin:15px;min-height:303px;overflow-y:auto;border:1px solid #b2bbc3;resize:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:23px;line-height:23px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:2px 2px 2px #ececec inset;-moz-box-shadow:2px 2px 2px #ececec inset;box-shadow:2px 2px 2px #ececec inset}
#pop_wrap.pop_main #pop_cnt .in_cnt{padding:10px}
#pop_wrap label{cursor:pointer}

#pop_wrap .search_area{margin-top:0;margin-bottom:7px}
.pop_btn_updown{width:22px;left:50%;margin-left:-11px;top:50%;margin-top:-112px}
#in_frame .pop_btn_updown .btn_up, #in_frame .pop_btn_updown .btn_down{width:22px;height:119px;border:none;text-indent:-9999px}
#in_frame .btn_up, #in_frame .btn_up:hover, #in_frame .btn_down, #in_frame .btn_down:hover{background-image:url(../img/common/updown_btn.png);background-repeat:no-repeat}
#in_frame .btn_up{background-position:0 0}
#in_frame .pop_btn_updown .btn_up:hover{background-position:-22px 0}
#in_frame .btn_down{background-position:-44px 0;margin-top:5px}
#in_frame .pop_btn_updown .btn_down:hover{background-position:-66px 0}

.pop_tbl{margin-top:0}
.pop_tbl th, .pop_tbl td{width:25%}

/* box */
.bul_arr{background-image:url(../img/common/bul_arr_cir.png);background-position:0 50%;background-repeat:no-repeat;margin-bottom:1px;height:21px;line-height:21px;padding-left:18px;color:#333}
.bul_arr + .p_r{padding-top:5px}
.bul_arr + .txt{margin-left:20px;height:21px;line-height:21px}
.bul_arr + .txt input[type="text"], .bul_arr + .txt .search_btn{height:21px}
.bul_arr + .txt input[type="text"]{line-height:21px}
.bul_arr + .txt .search_btn{width:21px;background-size:21px 22px}
.bul_arr + .tbl_st2{margin-top:0}
.tit_top{height:21px;padding-top:10px;background-position:0 80%}

/* column2 */
.col2{overflow:hidden}
.col2 .box_lft{float:left;width:357px}
.col2 .box_lft .tbl_st2 textarea{height:58px}

.col2 .box_rgt{margin-left:375px;border-left:1px dotted #000;padding-left:15px}
.col2 .box_rgt .big{width:100%;height:500px;overflow-y:auto}
#in_frame .btn_updown_area{text-align:center;padding:10px 0}
#in_frame .btn_updown_area button{background-repeat:no-repeat;background-position:0 0;width:105px;height:22px;border:none;text-indent:120px;white-space:nowrap;overflow:hidden;display:inline-block;margin:0 4px}
#in_frame .btn_updown_area .btn_down{background-image:url(../img/common/btn_down.png)}
#in_frame .btn_updown_area .btn_up{background-image:url(../img/common/btn_up.png)}

#in_frame .btn_updown .btn_up, #in_frame .btn_updown .btn_down{width:22px;height:119px}
.tip{margin-top:5px}

/* =====--- 유맥유통 추가 css 161109 ---===== */
/* 로그인 */
#loginArea{width:100%;height:100%;overflow:hidden;background:none}
#loginHeader{width:100%;height:46px;padding-right:0;border-bottom:3px solid #cc071e;background:url("/resources/img/ruckus/tit_bg.jpg") repeat-x 50% 0}
.login address{clear:both;padding-top:10px;color:#a1a1a1;text-align:center}

#loginMain{width:100%;height:100%;min-width:900px;min-height:500px;margin-left:0;background-image:url("../img/common/login_bg.jpg");background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-position:50% 100%;overflow-x:hidden}
.login .login_cnt{position:absolute;top:0px;right:0px;bottom:0;left:0%;width:900px;margin:auto;height:390px}
.login h2{margin-bottom:10px;padding-bottom:15px;text-align:center;border-bottom:2px solid #000}
.login .well{width:313px;margin-bottom:0;background-color:#fbfbfb;border:1px solid #e1e1e1}
.login .input .icon-append+input{width:100%;height:38px;line-height:38px;padding-left:10px;border:1px solid #bdbdbd;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.login .input .icon-append+input:focus{outline:0;border:1px solid #f04822}
.login header{padding:10px;text-align:center;font-family:"Nanum Gothic";font-size:18px;font-weight:bold;border-bottom:1px solid #ddd}
.login fieldset{background:#fff;display:block;padding:21.5px 21px;border:none;background:rgba(255,255,255,.9);position:relative}
.login .log_in{width:100%;height:40px;line-height:40px;border:0;background:#2eb34b;text-align:center;color:#fff;font-size:14px}
.login_cnt .icon-append, .login_cnt .icon-prepend{color:#a2a2a2;position:absolute;width:22px;height:22px;font-size:14px;line-height:22px;text-align:center}
.login_cnt .icon-append{top:-4px;right:5px;padding-left:3px;border-left-width:1px;border-left-style:solid}
.login_cnt section{margin-bottom:10px}
.login_cnt .label{display:block;margin-bottom:7px;line-height:19px;font-family:"Nanum Gothic";font-weight:400;font-size:16px;color:#333;font-weight:bold;text-align:left;white-space:normal;vertical-align:baseline;-webkit-border-radius:.25em;-moz-border-radius:.25em;border-radius:.25em}
.login_cnt .input{position:relative;height:38px}

.pwd_inquiry{display:block;margin-top:8px;color:#a0a0a0;background:none}

/* 로그인 팝업 */
#pop_cnt button[type="button"].pwd_change{display:table;margin-top:8px;margin-left:auto;margin-right:auto}

/* user*/
.top_log{color:#d5d5d5}
.top_log .user_name{font-weight:bold}
.top_log .btn_head{display:inline-block;width:67px;height:22px;line-height:22px;margin:0 15px 0 5px;text-align:center;background:#6f6e6e;color:#fff;font-weight:bold}

#selectLanguage{height:22px;margin-left:5px;border:1px solid #bebebe}

/* button style */
.btn_area .txt{height:25px;line-height:25px;margin-left:10px;color:#4c4f53}
.btn{height:25px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;cursor:pointer}
button[type="button"].btn_style1{line-height:25px;padding:0 7px;color:#555;border:1px solid #b1b1b1;
background:#fbfbfb;/* Old browsers */
background:-moz-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top, #fbfbfb 0%,#e8e8e8 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom, #fbfbfb 0%,#e8e8e8 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8',GradientType=0 );/* IE6-9 */
}
.btn_style1 img{padding-right:4px}
button[type="button"].btn_style2{line-height:25px;color:#fff;padding:0 11px;background:#606675;border:1px solid #3e4351}
button[type="button"].btn_style2:hover{
background:#b1b4bb;/* Old browsers */
background:-moz-linear-gradient(top,  #b1b4bb 0%, #616776 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #b1b4bb 0%,#616776 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #b1b4bb 0%,#616776 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b4bb', endColorstr='#616776',GradientType=0 );/* IE6-9 */}
button[type="button"].btn_style2.mouseup{
background:#444a57;/* Old browsers */
background:-moz-linear-gradient(top,  #444a57 0%, #8e929c 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #444a57 0%,#8e929c 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #444a57 0%,#8e929c 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444a57', endColorstr='#8e929c',GradientType=0 );/* IE6-9 */}
button[type="button"].btn_style3{line-height:25px;color:#fff;padding:0 6px;background:#f58022;border:1px solid #d97f00}
button[type="button"].btn_style3:hover{
background:#fac193;/* Old browsers */
background:-moz-linear-gradient(top,  #fac193 0%, #f58124 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #fac193 0%,#f58124 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #fac193 0%,#f58124 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac193', endColorstr='#f58124',GradientType=0 );/* IE6-9 */}
button[type="button"].btn_style3.mouseup{
background:#d86a12;/* Old browsers */
background:-moz-linear-gradient(top,  #d86a12 0%, #fda25a 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top,  #d86a12 0%,#fda25a 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #d86a12 0%,#fda25a 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86a12', endColorstr='#fda25a',GradientType=0 );/* IE6-9 */}
.tbl_st2 button[type="button"].btn_style3{height:20px;line-height:20px}
button[type="button"].btn_style4{height:21px;padding:0px 2px;color:#525969;font-weight:bold;border:1px solid #b6b6b6;
background:#ffffff;/* Old browsers */
background:-moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );/* IE6-9 */}

/* 도움말 */
.fav{width:26px;height:25px;margin-left:4px;background:url('../img/common/favorite.gif') no-repeat;text-indent:-9999px;cursor:pointer}
.fav_inactive{background-position:0 0}
.fav_active{background-position:-26px 0}

.advice{display:none;top:35px;padding:19px 23px;background:#ffffe1;border:1px solid #c1c1c1;color:#777;z-index:10;-webkit-box-shadow:0px 5px 15px rgba(0,0,0, .1);-moz-box-shadow:0px 5px 15px rgba(0,0,0, .1);box-shadow:0px 5px 15px rgba(0,0,0, .2)}
.advice h4{font-size:14px}
.advice pre{padding-top:7px}
.advice .close_btn{width:14px;height:14px;top:19px;right:23px;background:url('../img/common/close_btn.png') no-repeat 0 0;text-indent:-9999px}

/* 검색 영역 */
.search_area{margin:4px 0 7px;padding:5px 10px 5px 20px;border:1px solid #727272;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
background:#ffffff;/* Old browsers */
background:-moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);/* FF3.6-15 */
background:-webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);/* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom, #ffffff 0%,#e1e1e1 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );/* IE6-9 */
}
.search_area > div{height:23px;line-height:23px;margin-bottom:4px}
.search_area > div.last{margin-bottom:0}
.search_area em{padding-left:4px;background:url("../img/common/ico_require.png") no-repeat 0px 0px;width:6px;height:5px;display:inline-block;text-indent:100%;white-space:nowrap;overflow:hidden;vertical-align:middle}
.search_area label{padding-right:4px}
.search_area input, .search_area select, .tit_sech input, .tit_sech select, .pro_price input, .pro_price select{height:23px;margin-right:22px;padding-left:5px;border:1px solid #bebebe;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.search_area input{width:120px}	
.search_area select{width:105px}
.search_area input[type="checkbox"], .search_area input[type="radio"]{width:13px;margin-right:0;vertical-align:middle}
/*.search_area input#datepicker1, .search_area input.datepicker1{margin-left:6px}*/
.search_area input#datepicker1, .search_area input#datepicker2, .search_area input#datepicker3, .search_area input#datepicker4, .search_area input.datepicker1, .search_area input.datepicker2, .search_area input.datepicker3, .search_area input.datepicker4, .search_area input.datepicker, .tit_sech input.hasDatepicker, .pro_price .datepicker, .pop_tit2 .datepicker1{width:98px;margin-right:5px;padding-left:0px;text-align:center}
.search_area input.datepicker + img + label, .search_area input.datepicker2 + img + label{margin-left:22px}

.search_area .search_txt, .tit_sech .search_txt, .search_area input.wid_marR, .search_area select.wid_marR{margin-right:0}
.search_btn{margin-right:22px;width:23px;height:23px;background:url('../img/common/search_ico.png') no-repeat 0 0;text-indent:-9999px;border:0}
.tit_sech .search_txt{width:100px}

/* 검색 영역 두 줄 이상 */
.search_area table{width:100%}
.search_area table tr{border-bottom:4px solid transparent}
.search_area table tr.last{border:none}
.search_area table th{text-align:left;padding-left:10px}
.search_area table th em{margin-left:-10px}
.search_area table td{padding-left:4px}
.search_area table select.wid2{width:98px}	

/*datepicker*/
.ui-datepicker-trigger{cursor:pointer}
#in_frame .ui-state-highlight, #in_frame .ui-widget-content #in_frame .ui-state-highlight, #in_frame .ui-widget-header .ui-state-highlight{color:#fff;background:#f58022;border:1px solid #d97f00}
#in_frame .ui-datepicker-calendar .ui-state-active, #in_frame .ui-datepicker-calendar .ui-widget-content .ui-state-active{border:1px solid #3ca539;background:#4cb849}

/* 트리 메뉴 (공통) */
.box_menu, .organization{float:left;width:276px;min-height:287px;padding:10px 0 10px 15px;border:1px solid #ccc;overflow:scroll;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.box_menu li, .organization li{padding:5px 0 8px 0;line-height:16px;list-style:none}
.box_menu li ul, .organization li ul{margin-top:6px}
.box_menu>ul>li.on>a, .organization>ul>li.on>a{font-weight:bold;background-position:0 -30px}
.box_menu li a, .organization li a{display:inline-block;height:16px;padding-left:23px;font-size:12px;color:#f58022;font-weight:bold;background-image:url('../img/common/btn_folder.png');background-repeat:no-repeat;background-position:0px 0px}/* depth1, depth 전체 */
.box_menu li a:hover, .box_menu li.active a, .organization li a:hover, .organization li.active a{text-decoration:underline}/* 트리 메뉴 오버시 */
.box_menu li li, .box_menu li li li, .organization li li, .organization li li li{padding-bottom:5px}
.box_menu li li a, .organization li li a{display:block;margin-left:15px;color:#555}/* depth2 */
.box_menu li li li a, .stocksche li li a{display:block;margin-left:20px;background-image:url('../img/common/menu_icon_document.png');background-position:8px 2px;color:#555;font-weight:inherit}/* depth3 */
.box_menu li li.on a, .box_menu li li li.on a, .organization li li.on a, .organization li li li.on a, .organization li li li li.on a{color:#0076cb}/* depth3 오z	버시 */

/* 조직마스터관리 트리메뉴 */
.organization li li li a{margin-left:30px;font-weight:normal}/* depth3 */
.organization li li li li a{padding-left:25px;margin-left:45px;background-image:url('../img/common/menu_icon_document.png');background-position:8px 2px}/* depth4 */

/* 재고조사일정관리 트리메뉴 */
.stocksche li li a{margin-left:10px;font-weight:bold}/* 2depth */

/* 팝업 */
#loginArea .ui-widget-overlay, #in_frame .ui-widget-overlay{background:#000;opacity:.3;filter:Alpha(Opacity=30)}/* 팝업 아래에 깔리는 배경 */
#loginArea .ui-dialog, #in_frame .ui-dialog{padding:0;border:2px solid #505761;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, .5);-moz-box-shadow:0px 0px 8px rgba(0, 0, 0, .5);box-shadow:0px 0px 8px rgba(0, 0, 0, .5)}/* 팝업 전체 여백 */
#loginArea .ui-dialog:focus, #in_frame .ui-dialog:focus{outline:none}
#loginArea .ui-draggable .ui-dialog-titlebar, #in_frame .ui-draggable .ui-dialog-titlebar{height:25px;line-height:25px;padding-left:15px;background:url('../img/common/popup_tit.jpg') repeat-x 0 0;border:0;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;cursor:move}/* 다이얼로그 타이틀 reset */
#loginArea .ui-dialog-titlebar-close, #in_frame .ui-dialog-titlebar-close{position:absolute;top:0;right:0;width:18px;height:18px;margin:3px 15px 0 0;background:url('../img/common/close_btn.gif') no-repeat 0 0;border:0;text-indent:-9999px}/* 닫기 버튼 */
#loginArea .ui-dialog-titlebar-close:hover, #in_frame .ui-dialog-titlebar-close:hover{background:url('../img/common/close_btn_over.gif') no-repeat 0 0}/* 닫기 버튼 오버시 */
#loginArea .ui-dialog-titlebar-close .ui-icon, #in_frame .ui-dialog-titlebar-close .ui-icon{background:none}

/*탭 */
.tab{position:relative}
.tab ul li ul{left:0}
.tab ul > li ul, .tab > div.tab_btn_area{position:absolute}
.tab ul > li ul{top:23px;left:0;width:100%;margin-top:-3px;}
.tab ul > li ul > table{margin-top:0}
.tab ul > li button.tab_btn{position:relative;top:0;left:0;height:22px;margin-left:2px;margin-right:1px;padding:0 13px;border:1px solid #9e9d9b;border-bottom:2px solid #000;background:#f9f1cc;color:#333;-webkit-border-radius: 3px 3px 0 0;-moz-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tab ul > li.on button.tab_btn, .tab ul > li:hover button.tab_btn{border:1px solid #000;border-bottom:2px solid #f58124;background:#f58124;color:#fff;z-index:1}
.tab ul > li.tab1 button{margin-left:0}

.tab div.tab_btn_area{top:3px;right:0px}

/* -------- tab1 -------- */
#tab1{width:100%;z-index:1}
#tab1 ul li{float:left}
#tab1 ul .tab2 ul, #tab1 ul .tab3 ul, #tab1 ul .tab4 ul, #tab1 ul .tab5 ul{visibility:hidden}

#tab1 .tbl_st2 th{width:11%}
#tab1 .tbl_st2 input.wid2, #tab1 .tbl_st2 select.wid2, #tab1 .tbl_st2 textarea.wid2, #tab1 .search_area .wid2{width:102px}
#tab1 .tbl_st2 .wid4{width:250px}
#tab1 .tbl_st2 .search_txt.wid4{width:287px}

/*=== 그리드 영역 ===*/
.tit_top + .content{margin-top:1px}

/* paging */
.gridPaging{text-align:center;height:20px;padding-top:10px}
.gridPaging a{color:#797674;text-decoration:none;border:1px solid #e0e0e0;background-color:#f6f4f4;padding:3px 5px}
.gridPaging a:link{color:#797674;text-decoration:none}
.gridPaging a:visited{color:#797674;text-decoration:none}
.gridPaging a:hover{border:1px solid #908b88}
.gridPagingMove{font-weight:bold}/* 마우스 오버시 */
.gridPagingDisable{font-weight:bold;color:#cccccc;border:1px solid #e0e0e0;background-color:#f6f4f4;padding:3px 5px}/* 비활성화 페이지 */
.gridPagingCurrent{font-weight:bold;color:#ffffff;border:1px solid #908b88;background-color:#908b88;padding:3px 5px}/* 활성화 페이지 */

/*===---------- 각 페이지 ----------===*/
.map_wrap, .map_wrap *{margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration:none}
.map_wrap{position:relative;width:100%;height:500px}
#menu_wrap{position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index:1;font-size:12px;border-radius:10px}
.bg_white{background:#fff}
#menu_wrap hr{display:block;height:1px;border:0;border-top:2px solid #5F5F5F;margin:3px 0}
#menu_wrap .option{text-align:center}
#menu_wrap .option p{margin:10px 0}  
#menu_wrap .option button{margin-left:5px}
#placesList li{list-style:none}
#placesList .item{position:relative;border-bottom:1px solid #888;overflow:hidden;cursor:pointer;min-height:65px}
#placesList .item span{display:block;margin-top:4px}
#placesList .item h5, #placesList .item .info{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
#placesList .item .info{padding:10px 0 10px 55px}
#placesList .info .gray{color:#8a8a8a}
#placesList .info .jibun{padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat}
#placesList .info .tel{color:#009900}
#placesList .item .markerbg{float:left;position:absolute;width:36px;height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat}
#placesList .item .marker_1{background-position:0 -10px}
#placesList .item .marker_2{background-position:0 -56px}
#placesList .item .marker_3{background-position:0 -102px}
#placesList .item .marker_4{background-position:0 -148px}
#placesList .item .marker_5{background-position:0 -194px}
#placesList .item .marker_6{background-position:0 -240px}
#placesList .item .marker_7{background-position:0 -286px}
#placesList .item .marker_8{background-position:0 -332px}
#placesList .item .marker_9{background-position:0 -378px}
#placesList .item .marker_10{background-position:0 -423px}
#placesList .item .marker_11{background-position:0 -470px}
#placesList .item .marker_12{background-position:0 -516px}
#placesList .item .marker_13{background-position:0 -562px}
#placesList .item .marker_14{background-position:0 -608px}
#placesList .item .marker_15{background-position:0 -654px}
#pagination{margin:10px auto;text-align:center}
#pagination a{display:inline-block;margin-right:10px}
#pagination .on{font-weight:bold;cursor:default;color:#777}

/* 기준정보 > 상품관리 > 협력업체일괄변경 */
.tbl_st8{width:200px}
.tbl_st8 tr{height:20px}
.tbl_st8 th, .tbl_st8 td{width:inherit;padding:0;text-align:center;border:1px solid #bebebe;background:#fff}

/* 기준정보 > POS관리 > POS안내문관리 */
.tbl_st2 .tbl_head{height:25px}
.tbl_st2 .tbl_head th, .tbl_st4 .t_c{text-align:center}
.tbl_st4 .t_c{background:#fff}

/* 기준정보 > 시스템공통 > 메뉴관리 */
.tbl_st2 tr .menu_note{width:100%}
.tbl_st2 tr .counter{position:absolute;bottom:5px;right:5px}

/* 기준정보 > 시스템공통 > 권한관리 */
.btn_per input{margin-right:2px;margin-left:10px}
.btn_per input:first-child{margin-left:0px}

/* 기준정보 > 시스템공통 > 조직마스터관리 */
.store_area{min-height:300px;border:1px solid #bebebe}

/* 회원정보 > 멤버십관리 > 포인트임의관리 */
.mem_tbl .tbl_st2.f_r{margin-left:10px}

/* 회원정보 > 멤버십관리 > 회원등급개별변경 */
.tbl_st5 thead tr{height:25px}
.tbl_st5 thead tr th{padding:0;font-weight:bold}
.tbl_st5 thead tr th, .tbl_st5 tbody tr th, .tbl_st6 tbody th, .tbl_st6 tbody tr{text-align:center}
.tbl_st5 tbody tr td{height:14px;text-align:right}
.tbl_st5 tbody tr td:last-child input[type="text"]{position:absolute;top:3px;left:50%;margin-left:-44%}
.tbl_st5 tbody tr th{padding:0;background-color:#f8f8f8}
.tbl_st7 tbody tr td{text-align:center;}

.grade_chg{width:100%;border:1px solid #cfcfd1;background-color:#f2f2f2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.grade_chg div{padding:10px;text-align:center}
.grade_chg label{padding-right:5px;font-weight:bold}
.grade_chg input[type="text"], .grade_chg select{width:120px;text-align:center;border:1px solid #cfcfd1}
.grade_chg select{width:120px;height:25px}
.grade_chg span{padding:0 10px}
.grade_chg select, .grade_chg select option{text-align:center}

/* 회원정보 > 고객관리 > sms발송관리 */
.sms_send{width:436px;margin:0 auto;padding:32px 15px 15px 15px;background:url('../img/common/sms_bg.png') no-repeat 0 0;background-size:100% 250px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.sms_send > div{height:183px;padding:10px}
.sms_send table{width:100%}
.sms_send th{padding-right:5px;text-align:right}
.sms_send input[type="text"], .sms_send select, .sms_send textarea{width:100%;padding-left:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.sms_send input[type="text"], .sms_send select{margin-bottom:5px}
.sms_send textarea{padding:5px}
.sms_cnt1{height:156px}
.sms_cnt2{height:128px}
.sms_date{width:436px;height:81px;margin:10px auto;padding:15px 5px;background:url('../img/common/sms_date_bg.png') repeat-x 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* .sms_date .btn_style4{margin:5px 0 0 76px} */

/* 영업정보 > 영업관리 > 견적서관리 */
.tbl_st2.tbl_st6{border-top:1px solid #cfcfd1}
.tbl_st2.tbl_st6 th, .tbl_st2.tbl_st6 td.vat{padding:0;font-weight:normal;background:#f3f3f3}
.tbl_st2.tbl_st6 td{font-weight:bold;background:#ffeada}

/* 영업정보 > 영업관리 > 주문배달관리 */
.tit_sech{margin-left:80px}
.tit_sech label, .tit_sech input.hasDatepicker{margin-right:4px}

#in_frame .ui-widget input, #in_frame .ui-widget select, #in_frame .ui-widget textarea, #in_frame .ui-widget button{font-family:'굴림',Gulim,'돋움',Dotum,Helvetica,sans-serif}

/* 영업정보 > 매입관리 > 시세정보등록관리 */
.pro_price label{margin-left:22px}

/* 영업정보 > POS정산 > POS시재등록 */
.tbl1, .tbl2,  .tbl3{float:left;margin-top:0}
.tbl1 th, .tbl2 th, .tbl3 th{padding-left:10px;text-align:center}
.tbl2,  .tbl3{margin-left:10px}
.bac_col{background-color:#fdf1e8 !important}
.tbl1 .p_r input[type="text"], .tbl2 .p_r input[type="text"], .tbl3 .p_r input[type="text"]{position:absolute;top:3px;left:50%;margin-left:-28.5px}

/*영업정보 > POS정산 > POS영수증조회*/
#receipt_content{height:500px;overflow-x:hidden;overflow-y:scroll;font-family:'굴림체';}

/* 영업분석 > 매출목표 > 매출목표관리 */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{border:1px solid #bebebe}
.variation1, .variation2{width:30px;height:20px;margin-right:3px;text-align:center}
.variation1 + span, .variation2 + span{vertical-align:middle}
.variation2{margin-left:20px}
.sel_year{width:60px;height:22px;margin-left:10px}